@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/nunito.eot'); /* IE9 */
  src: url('./fonts/nunito.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nunito.ttf') format('truetype'); /* Mobile */
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/caveat.eot'); /* IE9 */
  src: url('./fonts/caveat.woff') format('woff'), /* Modern Browsers */
       url('./fonts/caveat.ttf') format('truetype'); /* Mobile */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Poppins-Medium.ttf') format('truetype'); /* Mobile */
}

$nav-height-mobile: 71px;
$nav-height-desktop--single-line: 54px;
$nav-height-desktop--double-line: 77px;

/* ------------------------------

   Variables

------------------------------ */

// Haven variables
$old-blue: #4ab3ce;
$old-blue-light: lighten($old-blue, 30%);
$old-blue-dark: #0099be;
$old-blue-darker: #007b99;
$old-grey: #e1e2e6;;
$old-shadow: rgba(89, 97, 116, 0.4);
$old-white: #fafafa;

// Contemplating Action variables
$Purple: #662483;
$LightBlue: #4575BA;
$DarkBlue: #1A1E64;
$Black: #3c3c3b;
$White: #F5F5F5;
$LightPurpleGrey: #E4E1E7;
$LightGrey: #eee;
$colour: #30336d;

// Utility variables
$white-pure: #ffffff;
$black-pure: #000000;

// Theme colours
$primary-colour: $DarkBlue;
$secondary-colour: $LightBlue;
$text-colour: $Black;
$interaction-colour: $Purple;

$max-width: 1044px;

/* ------------------------------

   Reset

------------------------------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline-color: $secondary-colour;
}

:root {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

body {
  max-width: $max-width;
  padding: 0;
  margin: 0 auto;
  font-size: 1.125rem;
  color: $text-colour;
  background-color: $white-pure;

  /* Allow space for mobile nav without overlapping content */
  margin-bottom: $nav-height-mobile;
}

button {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
}

input {
  font: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  -webkit-appearance: none;
}

label {
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul--disc li {
  list-style: disc;
  margin-left: 30px;
}

p {
  margin: 0;
}

button + p {
  margin-top: 3em;
}

p + p {
  line-height: 1.5;
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 2.65;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  line-height: 1.5;
}

h3, h4, h5 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1em;
}

button {
  font-family: inherit;
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

@media screen and (min-width: 721px) {
  :root {
    font-size: 22px;
  }

  body {
    /* Remove spacing for lower navigation */
    margin-bottom: 0;
  }
}

/* ------------------------------

   Page

------------------------------ */

/* IE11 helper */
.content {
  min-height: 1px;
}

.page {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 721px) {
  .page {
    /* Provide spacing for navigation */
    padding-top: $nav-height-desktop--double-line;
  }
}

@media screen and (min-width: 860px) {
  .page {
    /* Provide spacing for navigation */
    padding-top: $nav-height-desktop--single-line;
  }
}

/* ------------------------------

   Icon

------------------------------ */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: $White;
  font-size: 1.75rem;
  border-radius: 50%;
  background-color: $secondary-colour;
}

.icon--large {
  height: 100px;
  width: 100px;
  font-size: 60px;
}

.icon--alternate {
  color: $text-colour;
  margin-left: 10px;
}

/* ------------------------------

   Text

------------------------------ */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 1rem;
}

.quote:before {
  content: open-quote;
}

.quote:after {
  content: close-quote;
}

/* ------------------------------

   Title

------------------------------ */

.title--small {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.title--alternate {
  color: $primary-colour;
}

/* ------------------------------

   Link

------------------------------ */

.link {
  font-weight: bold;
  color: inherit;
  border-bottom: 1px solid currentColor;
  text-decoration: none;

  &:hover,
  &:active {
    color: $interaction-colour;
  }
}

.link--plain {
  color: $interaction-colour;
  border-bottom-color: transparent;
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:active {
    color: $interaction-colour;
    border-bottom-color: currentColor;
  }
}

.link--unstyled{
  color: inherit;
  text-decoration: none;
}

.link--stateless {
  &:hover,
  &:active,
  &:focus {
    // !important is specified to as an immutability measure
    color: inherit !important;
    border-bottom-color: inherit !important;
  }
}

/* ------------------------------

   Button

------------------------------ */

.button {
  display: inline-block;
  color: $White;
  background-color: $interaction-colour;
  border-radius: 5em;
  padding: 15px 20px;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.button:active,
.button:focus,
.button:hover {
  background-color: $interaction-colour;
}

.button--center {
  margin: auto;
}

.button + .button {
  margin-top: 20px;
}

.button--full-width {
  width: 100%;
  text-align: center;
}

.button--alternate {
  color: $White;
  background-color: $interaction-colour;
}

.button--alternate:active,
.button--alternate:focus,
.button--alternate:hover {
  background-color: $interaction-colour;
}

.button--icon {
  margin-right: 10px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

// Overrides a button group to be left aligned
.button-group--row {
  flex-direction: row;
}

@media screen and (min-width: 360px) {
  // Ensures side-by-side buttons are not unequal heights.
  .button {
    white-space: nowrap;
  }
}

@media screen and (min-width: 800px) {
  // Ensures that a button width is reset on non-mobile viewport
  // Set at 800 to cover majority of tablets in portrait.
  // !important is specified to as an immutability measure
  .button--default-width--desktop {
    width: auto !important;
    padding: 15px 50px;
  }

  .button-group {
    flex-direction: row;
  }

  .button + .button {
    margin-top: 0;
    margin-left: 20px;
  }
}

/* ------------------------------

   Section

------------------------------ */

.section {
  padding: 40px 20px;
  background-color: $White;
}

.section--darker {
  background-color: $LightGrey;
}

.section--lighter {
  background-color: $white-pure;
}
.section--highlight {
  color: $text-colour;
  background-color: $LightPurpleGrey;
}

.section--align-bottom {
  padding-bottom: 0;
}

.section--vertical-fill-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  min-height: 1px;
}

.section--info {
  // Otherwise content of info to help buttons is 100% width.
  align-items: center;
}

.section--story-end {
  padding-top: 0;
}

@media screen and (min-width: 721px) {
  // Corrects vertical centering in IE11
  .home .section--header {
    padding: 0;
  }

  // We only want to center info related content.
  .section {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section--align-bottom {
    padding-bottom: 0;
  }

  .section--story-end {
    padding-top: 0;
  }
}

/* ------------------------------

   Navigation

------------------------------ */

.nav-bar {
  display: flex;
  align-items: stretch;
  background-color: $primary-colour;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.nav-icon {
  color: $old-grey;
}

nav,
.nav-item {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.nav-item--text-only,
.nav-item a {
  flex: 1 0 auto;
  padding: 15px 10px;
  color: $old-white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
}

.nav-item--active,
.nav-item:hover {
  .nav-item-text {
    color: $old-blue-light;
  }
}

.nav-item a:active {
  .nav-item-text {
    color: $old-blue;
  }
}

.nav-item-text {
  display: block;
}

.nav-item-text + .nav-item-text {
  margin-top: 5px;
}

@media screen and (min-width: 721px) {
  .nav-bar {
    top: 0;
    bottom: auto;
    left: auto;
    right: auto;
    margin: auto;
    width: 100%;
    max-width: $max-width;
  }

  nav, .nav-bar {
    justify-content: flex-end;
  }

  .nav-item {
    flex: 0 1 auto;
  }

  .nav-item-text {
    font-size: 0.7273rem;
    margin: 5px;
    vertical-align: middle;
  }
}

@media screen and (min-width: 860px) {
  .nav-item-text {
    display: inline;
    font-size: 0.8181rem;
  }
}

/* ------------------------------

   Header

------------------------------ */

.section--header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  background: $secondary-colour;
  color: $White;
}

.section--header a {
  color: $White;
  text-decoration: none;
}

.section--header a:hover {
  border-bottom: 5px solid $White;
  cursor: pointer;
}

.section--header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 4px;
  box-shadow: 0 3px 4px 0 $old-shadow;
}

.home .section--header {
  height: 120px;
  font-size: 1.512rem;
  align-items: center;
}

.home .section--header::after {
  display: none;
}

/* ------------------------------

   Footer

------------------------------ */

@media screen and (min-width: 721px) {
  .section--footer {
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer--item {
    margin: 0 20px;
  }
}

/* ------------------------------

   Card

------------------------------ */

.card {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: $White;
}

.card + .card {
  margin-top: 20px;
}

.card--alternate {
  color: $white-pure;
  background-color: $primary-colour;
}

.card--with-icon {
  position: relative;
  padding: 70px 20px 40px;
  margin-top: 40px;
}

.card--icon {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}

.card--thumbnail {
  float: left;
  margin-right: 15px;
  width: 80px;
  height: 80px;
}

.card--quote {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 721px) {
  .card--thumbnail {
    width: 210px;
    height: 210px;
  }
}

/* ------------------------------

    Info to help you

------------------------------ */

.section--info .card {
  margin-top: 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  text-decoration: none;
}

.info:active,
.info:focus,
.info:hover {
  background-color: $old-blue-dark;
}

.info--icon {
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 30px;
}

.info--text {
  flex: 1 1 auto;
  margin-right: 10px;
}

.info--list {
  width: 100%;
}

@media screen and (min-width: 721px) {
  .info--list {
    width: 60%;
  }
}

/* Stops hover issue on iPad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .info:hover {
      background-color: $old-blue-darker;
    }
}

/* ------------------------------

   Stories

------------------------------ */

.stories--more-link {
  margin-top: 10px;
}

/* ------------------------------

   Story

------------------------------ */

.story {
  position: relative;
  min-height: 1px;
}

.story + .story {
  margin-top: 0;
}

.story:not(:last-child) {
  margin-bottom: 45px;
}

// Downward triangle below card
.story:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 45px solid $old-white;
}

.story--illustration {
  position: relative;
  margin-top: 20px;
}

.story--illustration img {
  display: block;
}

.story--message {
  background-color: $old-grey;
  color: $text-colour;
  font-size: 1rem;
  margin: 0;
  padding: 5px;
  text-align: center;
}

/* .button--group override (not ideal) */
.story--related {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px; /* Same as `.button + .button` spacing */
}

/* ------------------------------

   Supporter

------------------------------ */

.supporter--logo-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 40px;
}

.supporter--logo {
  height: 166px;
  margin: 20px 40px;
}

@media screen and (max-width: 721px) {
  .supporter--logo {
    width: 100%;
    margin: 10px 0px;
  }
}

/* ------------------------------

   Helper

------------------------------ */

.block {
  display: block;
}

.inset {
  margin: 0 10px;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 721px) {
  .desktop-only {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }
}
