@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Poppins-Medium.ttf') format('truetype'),
    url('./fonts/poppins-medium-webfont.woff') format('woff'),
    url('./fonts/poppins-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('./fonts/poppins-semibold-webfont.woff') format('woff'),
    url('./fonts/poppins-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Poppins-Regular.ttf') format('truetype'),
    url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('./fonts/poppins-regular-webfont.woff') format('woff');
}

/* ------------------------------

   Variables

------------------------------ */

// Contemplating Action variables
$purple: #662483;
$purple-light: #8b1abc;
$blue-darkest: #1a1e64;
$blue-dark: #30336d;
$blue-light: #4575ba;
$black: #3c3c3b;
$white: #f5f5f5;
$grey-light: #eee;
$grey-light-purple: #e4e1e7;
$lime-green: #07c103;

// Utility variables
$white-pure: #ffffff;
$black-pure: #000000;
$shadow: rgba(89, 97, 116, 0.4);

// Theme colours
$primary-colour: $blue-darkest;
$secondary-colour: $blue-light;
$text-colour: $black;
$interaction-colour: $purple;
$focus-colour: $lime-green;

/* ------------------------------

   Defaults

------------------------------ */

*:focus {
  outline-color: $focus-colour;
}

:root {
  font-size: 100%;
  font-family: 'Poppins', 'Arial';
  line-height: 1.5;
}

body {
  color: $text-colour;
  background-color: $white-pure;
  font-size: 1.1rem;
}

p {
  font-family: 'Poppins', 'Arial';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', 'Arial';
}

.company-info {
  margin-top: 1em;
  font-size: 0.9rem;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.35rem;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 600;
}

h3,
h4,
h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 1em;
}

@media screen and (min-width: 721px) {
  :root {
    font-size: 137.5%;
  }
}

/* ------------------------------

   Icon

------------------------------ */

.icon {
  color: $white;
  background-color: $secondary-colour;
}

.icon--alternate {
  color: $text-colour;
}

/* ------------------------------

   Title

------------------------------ */

.title--small {
  font-size: 1.25rem;
}

.title--alternate {
  color: $primary-colour;
}

/* ------------------------------

   Link

------------------------------ */

.link {
  font-family: 'Poppins', 'Arial';
  color: inherit;
  border-bottom: 2px solid currentColor;
  text-decoration: none;

  &:hover,
  &:active {
    color: $interaction-colour;
  }
}

.link--plain {
  color: $interaction-colour;
  border-bottom-color: transparent;
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:active {
    color: $interaction-colour;
    border-bottom-color: currentColor;
  }
}

.link--unstyled {
  color: inherit;
  text-decoration: none;
}

.link--stateless {
  &:hover,
  &:active,
  &:focus {
    // !important is specified to as an immutability measure
    color: inherit !important;
    border-bottom-color: inherit !important;
  }
}

/* ------------------------------

   Button

------------------------------ */

.button {
  color: $white;
  background-color: $interaction-colour;
  border-radius: 5em;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.button:active,
.button:focus,
.button:hover {
  background-color: $purple-light;
}

.button--alternate {
  color: $white;
  background-color: $interaction-colour;
}

.button--alternate:active,
.button--alternate:focus,
.button--alternate:hover {
  background-color: $purple-light;
}

/* ------------------------------

   Section

------------------------------ */

.section {
  background-color: $white;
}

.section--darker {
  background-color: $grey-light;
}

.section--lighter {
  background-color: $white-pure;
}
.section--highlight {
  color: $text-colour;
  background-color: $grey-light-purple;
}

/* ------------------------------

   Navigation

------------------------------ */

.nav-bar {
  background-color: $primary-colour;
}

.nav-icon {
  color: $white;
}

.nav-item--text-only,
.nav-item a {
  color: $white;
  text-decoration: none;
  font-weight: 600;
}

.nav-item--active,
.nav-text-selector:hover {
  color: $white;
  border-bottom: 2px solid $white;
}

.nav-item a:active {
  .nav-item-text {
    color: $white;
  }
}

@media screen and (min-width: 721px) {
  .nav-item-text {
    font-size: 0.7273rem;
  }
}

@media screen and (min-width: 860px) {
  .nav-item-text {
    font-size: 0.8181rem;
  }
}

/* ------------------------------

   Header

------------------------------ */

.section--header {
  background: $secondary-colour;
  color: $white;
}

.section--header a {
  color: $white;
  text-decoration: none;
}

.section--header a:hover {
  border-bottom: 5px solid $white;
  cursor: pointer;
}

.section--header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 4px;
  box-shadow: 0 3px 4px 0 $shadow;
}

.home .section--header {
  font-size: 1.25rem;
}

.home .section--header::after {
  display: none;
}

/* ------------------------------

   Card

------------------------------ */

.card {
  border-radius: 10px;
  font-size: 1rem;
  background-color: $white;
}

.card--alternate {
  color: $white-pure;
  background-color: $primary-colour;
}

/* ------------------------------

    Info to help you

------------------------------ */

.info:active,
.info:focus,
.info:hover {
  background-color: $purple;
}

/* Stops hover issue on iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .info:hover {
    background-color: $purple;
  }
}

/* ------------------------------

   Stories

------------------------------ */

.stories--more-link {
  font-size: 0.875rem;
}

/* ------------------------------

   Story

------------------------------ */

// Downward triangle below card
.story:not(:last-child)::after {
  border-top: 45px solid $white;
}

.story--message {
  background-color: $white;
  color: $text-colour;
  font-size: 1rem;
}
